controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    arm_servo_controller:
      type: position_controllers/JointGroupPositionController

joint_state_broadcaster:
  ros__parameters:
    publish_rate: 50

arm_servo_controller:
  ros__parameters:
    joints:
      - joint_0
      - joint_1
    command_interfaces:
      - position
    state_interfaces:
      - position
