# =====================================================
# ARM UDEV RULES
# For STM32 / Motor Controllers
# =====================================================

# Main Arm Servo (Gripper / Wrist)
SUBSYSTEM=="tty", ATTRS{serial}=="6D76456C5665", MODE:="0666", SYMLINK+="arm_servo"

# 1st DOF Stepper (Base / Shoulder)
SUBSYSTEM=="tty", ATTRS{serial}=="8D7444525454", MODE:="0666", SYMLINK+="arm_1st_dof"

# 2nd DOF Stepper (Elbow)
SUBSYSTEM=="tty", ATTRS{serial}=="8D6F44515454", MODE:="0666", SYMLINK+="arm_2nd_dof"

# Nmotion Motor Controller
SUBSYSTEM=="tty", ATTRS{serial}=="207433485052", MODE:="0666", SYMLINK+="arm_nmotion"

# -----------------------------------------------------
# Add more motors below when needed
# -----------------------------------------------------
